Source: playdog
Section: unknown
Priority: optional
Maintainer: unknown <debpkg@twimp.se>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),python3
Standards-Version: 4.6.2
Homepage: https://twimpse.github.io/playdog/
#Vcs-Browser: https://salsa.debian.org/debian/playdog
Vcs-Git: https://github.com/twimpse/PlayDog.git

Package: playdog
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: VLC Playlist Creator and Playlist File Manipulator
 PlayScribe will create a VLC compatable playlist using a directory as an input.

 PlayDog will remove files that have been played in VLC from the playlist.

 Useful if you have a large directory of clips or videos and want to be able to only watch the clips that you haven't yet seen.
